# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
face-env/

# =========================
# Dataset / Images (opsiyonel)
# =========================
dataset/
*.jpg
*.jpeg
*.png

# =========================
# Model / Cache / Temp
# =========================
*.h5
*.pb
*.onnx
*.npy

# DeepFace / TensorFlow cache
~/.deepface/
~/.keras/
.cache/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files (Mac)
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Environment files
# =========================
.env
.env.*

embeddings.pkl
*.pickle